<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>教学系统教师pc端</title>
	<link href="../css/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="../css/base.css" rel="stylesheet" type="text/css">

	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/utils/md5.js"></script>
	<script type="text/javascript" src="../js/utils/PrefsUtils.js"></script>
	<script type="text/javascript" src="../js/utils/ajax.js"></script>
	<script type='text/javascript' src='../js/utils/doT.min.js' charset='utf-8'></script>

	<script id="courseTemplate" type="text/template">
		{{~ it:data }}
			<div class="col-md-3">
				<div class="class-text">
					<div class="class-title">{{=data.courseName}}</div>
					<p title="">上课日期：{{=data.date}}</p>
					<p title="">上课时间：{{=data.startTime}}-{{=data.endTime}}</p>
					<p title="">上课地点：{{=data.location}}</p>
					<div class="class-top">
						{{ for(var prop in data.classes) { }}
						<span>{{=data.classes[prop].className}}</span>
						{{ } }}
					</div>
				</div>
			</div>
		{{~}}
	</script>
	<script id="workTemplate" type="text/template">
		{{~ it:data }}
			<div class="col-md-3">
				<div class="class-text">
					<div class="class-title">{{=data.title}}</div>
					<p title="">作用内容：{{=data.content}}</p>
					<p title="">目标课程：{{=data.courseName}}</p>
					<div class="class-top">
						{{ for(var prop in data.classes) { }}
						<span>{{=data.classes[prop].className}}</span>
						{{ } }}
					</div>
				</div>
			</div>
		{{~}}
	</script>
	<script type="text/javascript">
		var courseTemp = doT.template($('#courseTemplate').html());
		var workTemp = doT.template($('#workTemplate').html());
		var currentDate = null;
	//获取今日课程和今日到期作业；
	$(function(){
		$httpUtils.checkParams();
		currentDate = getDate();
		getSpecialCourseDates();
		getWorkByDate();
	});
	//获取当前服务器时间：年月，年月日
	function getDate(){
		var date = new Date();
		var seperator1 = "-";
		var month = date.getMonth() + 1;
		var strDate = date.getDate();
		if (month >= 1 && month <= 9) {
			month = "0" + month;
		}
		if (strDate >= 0 && strDate <= 9) {
			strDate = "0" + strDate;
		}
		var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate;
		return currentdate;
	}
	function getYearMonth(){
		var date = new Date();
		var seperator1 = "-";
		var month = date.getMonth() + 1;
		var strDate = date.getDate();
		if (month >= 1 && month <= 9) {
			month = "0" + month;
		}
		var currentdate = date.getFullYear() + seperator1 + month;
		return currentdate;
	}
	//获取指定月份，上课的日期列表。
	function getSpecialCourseDates(){
		var date = new Date();
		dateStr = date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate();
		var cTerm = $PrefsUtils.getPref("currentTerm");
		if (cTerm) {	
			var cTermJson =  $.parseJSON(cTerm);
			var params = {};
			params.startDate = dateStr;
			params.endDate = dateStr;
			params.termId = cTermJson.tpId;
			$httpUtils.post('teacher/Course/getlistByDate', params, function(ret) {
				if (ret.dataList) {
					$('#courseList').html(courseTemp(ret.courseList));
				}else{
					var html='<img src="../images/zanwushuju.png"/>'
						$('#courseList').html(html);
				}
			});
		}
	}
	//获取指定日期结束的作业列表
	function getWorkByDate(){
		var par = {};
		par.status = 3;
		par.date = currentDate;
		$httpUtils.post('teacher/work/getWorkList', par, function(ret) {
			if(ret){
				$('#workList').html(workTemp(ret));
			}else{
				var html='<img src="../images/zanwushuju.png"/>'
				$('#workList').html(html);
			}
		});
	} 
</script>
<body>
	<div class="maincont">
		<div class="title">
			<span>今日事项</span>
		</div>
		<div class="today-case">
			<div class="index-kc">
				<div class="kc-title">今日课程</div>            
				<div class="row" id="courseList">      
				</div>            
			</div>
			<div class="index-kc">
				<div class="kc-title">到期作业</div>            
				<div class="row" id="workList">
				</div>            
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<p>版权所有：河北图灵</p>
		</div>
	</div>
</body>
</html>