<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>教学系统教师pc端</title>
<link href="../../css/base.css" rel="stylesheet" type="text/css">
<link href="../../js/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../../js/bootstrap-table/bootstrap-table.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>

<script type="text/javascript" src="../../js/utils/md5.js"></script>
<script type="text/javascript" src="../../js/utils/PrefsUtils.js"></script>
<script type="text/javascript" src="../../js/utils/ajax.js"></script>

<script type="text/javascript">
    var classTable = null;
    var typeId = null;
	$(function(){
		getDatas();//获取用户创建的问题列表
		initTypeSelect();//初始化问题分类
		
		$('#typeSelect').change(function(){ 
			if ($(this).children('option:selected').val() == 'all'){
				$('#knowledgeSelect').html("<option value='all'>全部</option>");
				$httpUtils.post('question/getQuestionList',null,function(data){
					$('#classTable').bootstrapTable('load', data);
				});
			}else{
				typeId = $('option:selected').val();
				if(typeId == "未分类"){
					getUnTypeList();
				}else{
					initKnowledgeSelect(typeId);
				}
			}
		});
	});
	//获取用户创建的问题列表
	function getDatas(){
		$httpUtils.post('question/getQuestionList',null,function(data){
			initTale(data);
		});
	}
	/*初始化分类*/
	function initTypeSelect(){
		$('#typeSelect').html('');
		$('#typeSelect').append("<option value='all'>全部</option>");
		$httpUtils.post('question/getType',null,function(data){
			for (var i = 0; i < data.length; i++) {
				var opt = "<option value="+data[i].typeId+">"+data[i].typeName+"</option>";	
				$('#typeSelect').append(opt);
			}
		});
		$('#knowledgeSelect').html("<option value='all'>全部</option>");
	}
	/*初始化知识点*/
	function initKnowledgeSelect(typeId){
		var params = {};
		params.typeId = typeId;
		$httpUtils.post('question/knowledgePoint',params,function(data){
			for (var i = 0; i < data.length; i++) {
				$('#knowledgeSelect').html('');
				$('#knowledgeSelect').append("<option value='all'>——</option>");
				for (var j = 0; j < data.length; j++) {
					var opt = "<option value="+data[j].pointId+">"+data[j].pointName+"</option>";
					$('#knowledgeSelect').append(opt);	
				}
			}
		});
	}
	//根据知识点ID获取问题列表
	function getQuestionList(pointId){
		var pointList = [];
		pointList.push(pointId);
		var params = {};
		params.pointList = JSON.stringify(pointList);
		params.typeId = typeId;
		$httpUtils.post('question/getListByPointId',params,function(ret){
			if(ret){
				$('#classTable').bootstrapTable('load', ret);
			}else{
				var data = new Array();
				$('#classTable').bootstrapTable('load', data);
			}
		});
	}
	//获取类别为“未分类”的问题列表
	function getUnTypeList(){
		var params = {};
		$httpUtils.post('question/getUnTypeList',params,function(ret){
			$('#classTable').bootstrapTable('load', ret);
		});
	}
	function initTale(datas){
			classTable = $('#classTable').bootstrapTable({
			data : datas,
		    striped : true,
		    search : true,
		    showRefresh : true,
		    toolbar : '#toolbar',
		    columns: [{
		        title: '序号',
		        align: 'center',
		        formatter : function (value, row, index){
		        	return index + 1;
		        }
		    },{
		        field: 'content',
		        halign: 'center',
		        title: '问题内容'
		    }, {
		        field: 'typeName',
		        halign: 'center',
		        title: '分类'
		    }, {
		        field: 'pointName',
		        halign: 'center',
		        title: '知识点'
		    }, {
		        field: 'status',
		        halign: 'center',
		        title: '是否标记',
		        formatter : function (value, row, index){
		        	if(row.status == 0){
		        		return '<span class="label label-primary">未标记</span>';
		        	}else if(row.status == 1){
		        		return '<span class="label label-success">备选题</span>';
		        	}
		        }
		    }, {
		        title: '操作',
		        field: 'questionId',
		        align: 'center',
		        formatter : function (value, row, index){
		        	return '<i style="cursor: pointer;" title="标记/取消" class="glyphicon-collapse-up icon-chevron-up"></i> &nbsp;'
		        		 + '<i style="cursor: pointer;" title="编辑" class="glyphicon glyphicon-edit"></i> &nbsp;'
		        		 + '<i style="cursor: pointer;" title="删除" class="glyphicon glyphicon-trash"></i>';
		        },
		        events : {
		        	'click .glyphicon-collapse-up': function (e, value, row, index) {
			            //alert(e+'--'+value+'---'+row.status+'---'+index);
		        		updateStatus(value,row.status);//标记问题/取消标记
			        },
		        	'click .glyphicon-edit': function (e, value, row, index) {
			            window.location.href = 'questionUpdate.html?questionId=' + value;
			        },
			        'click .glyphicon-trash': function (e, value, row, index) {
			        	deleteQuestion(value);
			        }
		        }
		    } ]
		});
	}
	//删除问题
	function deleteQuestion(value){
		if(confirm("确定删除")){
    		var params = {};
    		params.questionId = value;
    		$httpUtils.post('question/delete',params,function(data){
    			refreshPage();	
            });
        }
	}
	//刷新页面数据
	function refreshPage(){
		$httpUtils.post('question/getQuestionList',null,function(data){
			$('#classTable').bootstrapTable('load', data);
		});
	}
	//标记问题、取消标记
	function updateStatus(id,status){
		var questionIds=[];
		var map = {};
		map.questionId = id;
		if(status == 0){
			map.status = 1;
		}else{
			map.status = 0;
		}
		questionIds.push(map);
		var params={};
 		params.questionIds=JSON.stringify(questionIds);
		$httpUtils.post('question/updateStatus',params,function(ret){
			refreshPage();	
		});
	}
</script>
</head>
<body>
	<div class="maincont">
		<div class="title"><span>问题列表</span></div>
		<div class="enter-message">
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td width="8%" align="left" valign="middle"><label style="line-height:36px; margin-bottom:0;">分类</label></td>
						<td>
							<select id="typeSelect" class="select-control" style="width:30%" >   
							</select>                                
						</td>  
						<td width="8%" align="left" valign="middle"><label style="line-height:36px; margin-bottom:0;">知识点</label></td>
						<td>
							<select id="knowledgeSelect" class="select-control" style="width:30%" onchange="getQuestionList(this.value)">   
							</select>                                
						</td>
					</tr>                    
				</tbody>
			</table>
			<div id="toolbar" class="btn-group">
			    <button type="button" class="btn btn-default  btn-sm" title="新增" onclick="window.location.href='questionForm.html'">
			        <i class="glyphicon glyphicon-plus"></i> 新增
			    </button>
			</div>
			<table id="classTable"></table>
        </div>
        
	</div>
	<div class="footer">
    <div class="container">
       <p>版权所有：河北图灵</p>
    </div>
</div>
</body>
</html>