<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>教学系统教师pc端</title>
<link href="../../css/base.css" rel="stylesheet" type="text/css">
<link href="../../js/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../../js/bootstrap-table/bootstrap-table.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>

<script type="text/javascript" src="../../js/utils/md5.js"></script>
<script type="text/javascript" src="../../js/utils/PrefsUtils.js"></script>
<script type="text/javascript" src="../../js/utils/ajax.js"></script>

<script type="text/javascript">
    var classTable = null;
	$(function(){
		getDatas();//获取用户创建的问题列表
	});
	//获取用户创建的问题列表
	function getDatas(){
		$httpUtils.post('question/getQuestionList',null,function(data){
			initTale(data);
		});
	}
	function initTale(datas){
			classTable = $('#classTable').bootstrapTable({
			data : datas,
		    striped : true,
		    search : true,
		    showRefresh : true,
		    toolbar : '#toolbar',
		    columns: [{
		        title: '序号',
		        align: 'center',
		        formatter : function (value, row, index){
		        	return index + 1;
		        }
		    },{
		        field: 'content',
		        halign: 'center',
		        title: '问题内容'
		    }, {
		        field: 'typeName',
		        halign: 'center',
		        title: '分类'
		    }, {
		        field: 'pointName',
		        halign: 'center',
		        title: '知识点'
		    }, {
		        field: 'status',
		        halign: 'center',
		        title: '是否标记',
		        formatter : function (value, row, index){
		        	if(row.status == 0){
		        		return '<span class="label label-primary">未标记</span>';
		        	}else if(row.status == 1){
		        		return '<span class="label label-success">备选题</span>';
		        	}
		        }
		    }, {
		        title: '操作',
		        field: 'questionId',
		        align: 'center',
		        formatter : function (value, row, index){
		        	return '<i style="cursor: pointer;" title="标记/取消" class="glyphicon-collapse-up icon-chevron-up"></i> &nbsp;'
		        		 + '<i style="cursor: pointer;" title="编辑" class="glyphicon glyphicon-edit"></i> &nbsp;'
		        		 + '<i style="cursor: pointer;" title="删除" class="glyphicon glyphicon-trash"></i>';
		        },
		        events : {
		        	'click .glyphicon-edit': function (e, value, row, index) {
			            window.location.href = 'viewEditClass?classId=' + value;
			        },
			        'click .glyphicon-trash': function (e, value, row, index) {
			        	deleteQuestion(value);
			        }
		        }
		    } ]
		});
	}
	//删除问题
	function deleteQuestion(value){
		if(confirm("确定删除")){
    		var params = {};
    		params.questionId = value;
    		$httpUtils.post('question/delete',params,function(data){
    			$httpUtils.post('question/getQuestionList',null,function(data){
    				$('#classTable').bootstrapTable('load', data);
    			});
            });
        }
	}
</script>
</head>
<body>
	<div class="maincont">
		<div class="title"><span>问题列表</span></div>
		<div class="enter-message">
			<div id="toolbar" class="btn-group">
			    <button type="button" class="btn btn-default  btn-sm" title="新增" onclick="window.location.href='questionForm.html'">
			        <i class="glyphicon glyphicon-plus"></i> 新增
			    </button>
			</div>
			<table id="classTable"></table>
        </div>
	</div>
	<div class="footer">
    <div class="container">
       <p>版权所有：河北图灵</p>
    </div>
</div>
</body>
</html>