<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>教学系统教师pc端</title>
<link href="../../css/base.css" rel="stylesheet" type="text/css">
<link href="../../js/bootstrap/css/bootstrap.css" rel="stylesheet"
	type="text/css">
<link href="../../js/chosen/chosen.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/turingLib/validator.js"></script>
<script type="text/javascript" src="../../js/json2form.js"></script>
<script type="text/javascript"
	src="../../js/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="../../js/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="../../js/turingLib/modal.js"></script>

<script type="text/javascript" src="../../js/utils/md5.js"></script>
<script type="text/javascript" src="../../js/utils/PrefsUtils.js"></script>
<script type="text/javascript" src="../../js/utils/ajax.js"></script>
<script type='text/javascript' src='../../js/utils/doT.min.js' charset='utf-8'></script>
<script id="questionTypeTemplate" type="text/template">
	{{~ it:data }}
		<div class="onetab">
			<span data-dismiss="modal" class="examMethodSpan"  pId={{=data.typeId}} onclick='selectExamMethod(this)'>{{=data.typeName}}</span>
			<span>({{= data.flagNum}}/{{= data.totalNum}})</span>
			<a class="delet-img" title="删除" onclick='delExamMethod(this,"{{=data.typeId}}","{{= data.totalNum}}");'></a>
		</div>
	{{~}}
</script>
<script id="knowledgePointTemplate" type="text/template">
	{{~ it:data }}
	<div class="onetab">
		<span data-dismiss="modal" class="teachMethodSpan" pId={{=data.pointId}} onclick='selectTeachMethod(this)'>{{=data.pointName}}</span>
		<span >({{= data.flagNum}}/{{= data.totalNum}})</span>
		<a class="delet-img" title="删除" onclick='delTeachMethod(this,"{{=data.pointId}}");'></a>
	</div>
	{{~}}
</script>
<script type="text/javascript">
	var questionTypeDot = doT.template($('#questionTypeTemplate').html());
	var knowledgePointDot = doT.template($('#knowledgePointTemplate').html());
	var typeID = null;
	$(function() {
		init();//数据初始化
	});
	function init() {
		updateOptions();
	}
	function addOption(btn) {
		$(btn).parent().parent().clone().appendTo('#optionsDiv');
		//对答案编号进行处理
		changeOptionKey();
		updateOptions();
	}

	function delOption(btn) {
		if ($('#optionsDiv').children('.optionDiv').length > 1) {
			$(btn).parent().parent().remove();
			//对答案编号进行处理
			changeOptionKey();
		} else {
			$(btn).parent().prev().val('');
		}
		updateOptions();
	}
	//对答案编号进行处理
	function changeOptionKey() {
		var keys = $(".optionKey");
		if (keys.size() < 27) {
			var least = 65 + keys.size();
		} else {
			alert("你的答案选项也太多了吧...");
		}
		var key = "A";
		for (var i = 65, a = 0; i < least; i++, a++) {
			key = String.fromCharCode(i);
			keys.eq(a).val(key);
		}
	}
	//答案选项，下拉菜单更新
	function updateOptions() {
		$('#answer').empty();
		$('#answer').append("<option value='null'></option>");
		var index = $(".optionKey").size();
		for (var i = 65; i < 65 + index; i++) {
			key = String.fromCharCode(i);
			html = "<option value="+key+">" + key + "</option>";
			$('#answer').append(html);
		}
	}
	function changeOpt(val) {
		$("#answer option[value=" + val + "]").attr("selected", "selected");
	}
	//获取用户的问题分类列表
	function initQuestionType(){
		$httpUtils.post('question/getType',null,function(ret){
			if(ret!=""){
				$("#examMethodList").html(questionTypeDot(ret));
			}else{
				if(confirm("您还没有创建问题分类，是否使用课程名称作为分类？")){
					$httpUtils.post('question/defaultQuestionType',null,function(ret){
						alert("导入成功");
						if(ret!=""){
							$("#examMethodList").html(questionTypeDot(ret));
						}
					});
				}
			}
		});
	}
	//增加问题分类
	function addQuestionType(questionType,fucSuc){
		var params = {};
		params.typeName = questionType;
		$httpUtils.post('question/addType',params,function(ret){
			if(fucSuc){
				fucSuc();
			}
		});
	}
	//删除问题分类
	function delQuestionType(id , fucSuc){
		var params = {};
		params.typeId = id;
		$httpUtils.post('question/delType', params, function(data) {
			if(fucSuc){
				fucSuc();
			}
		});
	}
	//获取知识点的分类列表
	function initKnowledgePoint(typeId){
		if(typeId){
			typeID = typeId;
		}
		var params = {};
		params.typeId = typeID;
		$httpUtils.post('question/knowledgePoint',params,function(ret){
			if(ret){
				$("#teachMethodList").html(knowledgePointDot(ret));
			}
		});
	}
	//增加知识点分类
	function addKnowledgePoint(pointName,fucSuc){
		var params = {};
		params.pointName = pointName;
		params.typeId = typeID;
		$httpUtils.post('question/addKnowledgePoint',params,function(ret){
			if(fucSuc){
				fucSuc();
			}
		});
	}
	//删除问题的知识点分类
	function delknowledgePoint(id , fucSuc){
		var params = {};
		params.pointId = id;
		$httpUtils.post('question/delKnowledgePoint', params, function(data) {
			if(fucSuc){
				fucSuc();
			}
		});
	}
	//创建问题
	function save(flag){
		var content = $('#workTitle').val();
		var answer = $('#answer').val();
		var typeId = $('#questionType').attr('pId');
		var pointId = $('#knowledgePoint').attr('pId');
		var options = new Array();
		var optKeys = $(".optionKey");
		var optValues = $(".optionValue");
		if(optKeys.size() == optValues.size()){
			for (var i = 0; i < optKeys.size(); i++) {
				var opt = {};
				opt.optionType = optKeys.eq(i).val();
				opt.optionValue = optValues.eq(i).val();
				options.push(opt);
			}
		}else{
			alert("请检查您添加的数据的正确性！");
		}
		if(!content){
			alert("问题不能为空");
			return;
		}
		var params = {};
		params.content = content;
		params.typeId = typeId;
		params.knowledgeId = pointId;
		params.options = JSON.stringify(options);
		params.answer = answer;
		
		$httpUtils.post('question/add', params, function(data) {
			if(flag == 1){
				history.back();
			}else{
				location.reload();
			}
		});
	}
	var f = 0;
	function addFile(btn) {
		f++;
		var zz = $(btn).parent().parent().clone();
		zz.find("input[type='file']").attr("id", "fileName" + f);
		zz.appendTo('#filesDiv');
	}
	function delFile(btn) {
		if ($('#filesDiv').children('.fileDiv').length > 1) {
			$(btn).parent().parent().remove();
		} else {
			$(btn).parent().prev().val('');
		}
	}
</script>
</head>
<body>
	<div class="maincont">
		<div class="title">
			<span>新增问题</span>
		</div>
		<div class="enter-message">
			<form id="classForm">
				<input type="hidden" name="questionId" />
				<div class="message-group">
					<div class="message-left">问题：</div>
					<div class="message-right">
						<input id="workTitle" maxlength="100" placeholder="问题内容（不超过100字）"
							type="text" class="mess-control" style="width: 90%;" />
					</div>
				</div>
				<div class="message-group">
					<div class="message-left">选项：</div>
					<div class="message-right" id="optionsDiv">
						<div class="message-wrap optionDiv">
							<input type="text" value="A" disabled="disabled"
								class="optionKey mess-control" style="width: 6%; float: left;" />
							<input type="text" class="optionValue mess-control"
								style="width: 55%; float: left; margin-left: 5px;" />
							<div id="toolbar" class="btn-group"
								style="float: left; margin-left: 5px">
								<button type="button" class="btn btn-default"
									style="height: 34px;" title="新增" onclick="addOption(this);">
									<i class="glyphicon glyphicon-plus"></i>
								</button>
								<button type="button" class="btn btn-default"
									style="height: 34px;" title="删除" onclick="delOption(this);">
									<i class="glyphicon glyphicon-remove"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="message-group">
					<div class="message-left">正确答案：</div>
					<div class="message-right" style="width: 67%;">
						<select id="answer">
							
						</select>
					</div>
				</div>
				<div class="message-group">
					<div class="message-left">问题附件：</div>
					<div class="message-right" id="filesDiv">
						<div class="message-wrap fileDiv" id="fileList">
							<input name="file" type="file" class="mess-control"
								style="width: 65%; float: left;" id="fileName" 
								accept="image/gif,image/jpeg,image/jpg,image/png,image/svg"/>
							<div id="toolbar" class="btn-group"
								style="float: left; margin-left: 5px">
								<button type="button" class="btn btn-default"
									style="height: 34px;" title="新增" onclick="addFile(this);">
									<i class="glyphicon glyphicon-plus"></i>
								</button>
								<button type="button" class="btn btn-default"
									style="height: 34px;" title="删除" onclick="delFile(this);">
									<i class="glyphicon glyphicon-remove"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="message-group">
					<div class="message-left">问题分类：</div>
					<div class="message-right">
						<input readonly id="questionType" type="text"
							class="mess-control" data-toggle="modal"
							data-target="#questionTypeModal" placeholder="请选择问题分类" />
					</div>
				</div>
				<div class="message-group">
					<div class="message-left">知识点：</div>
					<div class="message-right">
						<input readonly id="knowledgePoint" type="text" 
							class="mess-control" data-toggle="modal" 
							data-target="#knowledgePointModal" placeholder="请选择知识点" />
					</div>
				</div>
			</form>
			<div class="btnsub">
				<input type="button"  class="btn-submit" style="float:left;"  onclick="save(0);" value="继续添加">
				<input type="button"  class="btn-submit" style="float:left;"  onclick="save(1);" value="保存">
				<button type="button" class="btn-submit" style="float:right;" onclick="history.back();">返回</button>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<p>版权所有：河北图灵</p>
		</div>
	</div>
</body>
<script type="text/javascript">
	$.get('questionTypeModal.ftl', function(content) {
		$('body').after(content);
		initQuestionType();
	});
	$.get('knowledgePointModal.ftl', function(content) {
		$('body').after(content);
	});
</script>
</html>