<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>教学系统教师pc端</title>
<link href="../../css/base.css" rel="stylesheet" type="text/css">
<link href="../../js/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../../js/bootstrap-table/bootstrap-table.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>

<script type="text/javascript" src="../../js/utils/md5.js"></script>
<script type="text/javascript" src="../../js/utils/PrefsUtils.js"></script>
<script type="text/javascript" src="../../js/utils/ajax.js"></script>

<script type="text/javascript">
	var currentTermId = null;
	var workTable;
	$(function(){
		getCurrentTerm();//获取学期列表
		//获取课程列表
	    getCouseList();
		getWorkList();
		
	});
	//获取作业列表
	function getWorkList(courseId){
		var params = {};
		if(courseId){
			params.courseId = courseId;
		}
		params.status = 4;
		$httpUtils.post('teacher/work/getWorkList',params,function(res){
			initTable(res);
		});
	}
	function initTable(data){
		workTable = $('#workTable').bootstrapTable({
			data : data ,
			striped : true,
		    toolbar : '#toolbar',
		    columns: [{
		        title: '序号',
		        align: 'center',
		        formatter : function (value, row, index){
		        	return index + 1;
		        }
		    },{
		        field: 'courseName',
		        halign: 'center',
		        title: '课程名称'
		    },{
		        field: 'title',
		        halign: 'center',
		        title: '作业标题'
		    }, {
		        field: 'content',
		        halign: 'center',
		        title: '作业内容'
		    }, {
		        align: 'center',
		        valign: 'middle',
		        title: '状态',
		        formatter : function (value, row, index){
		        	if(row.period == '待发布'){
		        		return '<span class="label label-primary">待发布</span>';
		        	}else if(row.period == '已发布'){
		        		return '<span class="label label-success">已发布</span>';
		        	}else{
		        		return '<span class="label label-danger">已到期</span>';
		        	}
		        	//return '<span class="label label-danger">过期</span>';
		        }
		    }, {
		        title: '操作',
		        align: 'center',
		        formatter : function (value, row, index){
		        	return '<i style="cursor: pointer;" title="编辑" class="glyphicon glyphicon-edit"></i> &nbsp;'
		        		 + '<i style="cursor: pointer;" title="删除" class="glyphicon glyphicon-trash"></i>';
		        },
		        events : {
		        	'click .glyphicon-edit': function (e, value, row, index) {
			          	$PrefsUtils.transfer('workId',row.workId);
			            window.location.href = 'editWork.html';
			        },
			        'click .glyphicon-trash': function (e, value, row, index) {
			        	if(confirm("确定删除")){
		                    $httpUtils.post('teacher/work/updateWorkStatus', {
		                        "workId" : row.workId,
		                        "status" : 0
		                    }, function(data) {
		                    	location.reload(); 
		                    	//workTable.bootstrapTable('refresh');
		                    });
			            }
			        }
		        }
		    }]
		});
	}
	function updateCourseSelect(termId){
		getCouseList(termId);
	}
	//新增作业按钮
	function add(){
		window.location.href = 'workForm.html';
	}
	//获取学期列表
	function getCurrentTerm(){
		var currentTerm = JSON.parse($PrefsUtils.getPref('currentTerm'));
		var tn = currentTerm.termName;
		currentTermId = currentTerm.tpId;

		var termList = JSON.parse($PrefsUtils.getPref("termList"));
        var option = $("#termSelect");
        for ( var i in termList) {
        	if(termList[i].tpId == currentTermId){
        		var o = "<option value="+termList[i].tpId+" selected='selected'>"+termList[i].termName+"</option>";
        	}else{
        		var o = "<option value="+termList[i].tpId+">"+termList[i].termName+"</option>";	
        	}
        	option.append(o);
		}
	}
    //获取课程列表
    function getCouseList(termId) {
    	$("#courseSelect").empty();
        var params = {};
        if(null == termId ){
        	params.termId = currentTermId;	
        }else{
        	params.termId = termId;
        }
        $httpUtils.post('teacher/course/getCourseByTerm', params, function(ret) {
            if (ret && ret.length > 0) {
            	var option = $("#courseSelect");
            	var o2 = "<option value=''>全部</option>";
            	option.append(o2);
            	for ( var i in ret) {
                	var o = "<option value="+ret[i].courseId+">"+ret[i].courseName+"</option>";
                	option.append(o);
        		} 
            }
        });
    }
</script>
</head>
<body>
	<div class="maincont">
        <div class="title"><span>作业列表</span></div>
        <div class="enter-message">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
            	<tbody>
                	<tr>
                    	<td width="12%" align="left" valign="middle"><label for="xueqi" style="line-height:36px; margin-bottom:0;">学期名称：</label></td>
                        <td width="30%">
                        	<select id="termSelect" class="select-control" onchange="updateCourseSelect(this.value)">                            
                                <!-- <#list termList as term> 
									<option value="${term.termId}" <#if term.termId == termId?default("")>selected="selected"</#if>>${term.termName}</option>
								</#list> -->   
                            </select>                                
                        </td>
                        <td width="12%" align="left" valign="middle"><label for="kecheng" style="line-height:36px; margin-bottom:0;">课程名称：</label></td>
                        <td width="36%">
                        	<select id="courseSelect" class="select-control" onchange="getWorkList(this.value)">
                        		<!-- <#list courseList as course> 
									<option value="${course.courseId}" <#if course.courseId == courseId?default("")>selected="selected"</#if>>${course.courseName}</option>
								</#list> -->
                        	</select>                                
                        </td>
                        <td width="10%">
                        	<button type="button" class="btn btn-default btn-sm" onclick="workTable.bootstrapTable('refresh');">
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span> 搜索
							</button>
						</td>
                    </tr>                        
                </tbody>
            </table>
            <div id="toolbar">
			    <button type="button" class="btn btn-default btn-sm" title="新增" onclick="add();">
			        <i class="glyphicon glyphicon-plus"></i> 新增
			    </button>
			</div>                          
            <table id="workTable"></table>
        </div>
    </div>
	<div class="footer">
        <div class="container">
            <p>版权所有：河北图灵</p>
        </div>
    </div>
</body>
</html>