<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>教学系统教师pc端</title>
<link href="../../css/base.css" rel="stylesheet" type="text/css">
<link href="../../js/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/turingLib/validator.js"></script>
<script type="text/javascript" src="../../js/json2form.js"></script>
<script type="text/javascript" src="../../js/My97DatePicker/WdatePicker.js"></script>

<script type="text/javascript" src="../../js/utils/md5.js"></script>
<script type="text/javascript" src="../../js/utils/PrefsUtils.js"></script>
<script type="text/javascript" src="../../js/utils/ajax.js"></script>
<script type="text/javascript" src="../../js/ajaxfileupload.js"></script>
<script type='text/javascript' src='../../js/utils/doT.min.js' charset='utf-8'></script>
<style>
	.onetab {
	    float: left;
	    margin: 5px 5px 5px 5px;
	    height: 30px;
	    line-height: 30px;
	    background: #eee;
	    border-radius: 3px;
	    color: #000;
	}
</style>
<script type="text/javascript">
	var courseList = null;
	var courseID = null;
	$(function(){
		getCouseList();//获取课程列表
	});
	function addFile(btn){
		$(btn).parent().parent().clone().appendTo('#filesDiv');
	}
	function delFile(btn){
		if($('#filesDiv').children('.fileDiv').length > 1){
			$(btn).parent().parent().remove();
		}
		else{
			$(btn).parent().prev().val('');
		}
	}
	function removeFile(btn,fileId){
		if(confirm("确定删除")){
			$.post('${context}/file/deleteFile',{fileId:fileId},function(data){
				$(btn).parent().remove();
			});
		}
	}
	//创建作业点击时间
	function createWork(){
		var cls = new Array();
		var title = $('#workTitle').val();
        var publishTime = $('#publishTime').val();
        var endTime = $('#endTime').val();
        var content = $('#workContent').val();
        var targetClass = document.getElementsByClassName('targetClass');
        
        for (var i = 0; i < targetClass.length; i++) {
        	cls.push("\""+targetClass[i].id+"\"");
        }
       	cls = "["+cls.toString()+"]";
        if(!content){
            alert("请填写作业内容！");
            return;
        }
        if(endTime<publishTime){
            alert("作业结束时间应小于开始时间！");
            return;
        }
        if($('#classList').children.length == 0){
            alert("班级不能为空！");
            return;
        }
        var timestamp1 = Date.parse(new Date(publishTime)) / 1000;
        var timestamp2 = Date.parse(new Date(endTime)) / 1000;
        var params = {};
        params.courseId = courseID;
        params.publishTime = timestamp1;
        params.endTime = timestamp2;
        params.title = title;
        params.content = content;
        params.targetClass = cls;
        
        var fileIds=[];
		$("input[type='file']").each(function(i){
			 var id=$(this).attr("id");
			 fileIds.push(id);
		})
		params.fileIds=fileIds;
		
        params.status = 1;
        $httpUtils.postUp('teacher/work/addWork',params,function(date){
            //alert("作业创建成功");
            history.back();
        });
	}
	//获取课程列表
    function getCouseList() {
		var currentTerm = JSON.parse($PrefsUtils.getPref('currentTerm'));
		var currentTermId = currentTerm.tpId;
        var params = {};
        params.termId = currentTermId;
        $httpUtils.post('teacher/course/getCourseByTerm', params, function(ret) {
            if (ret && ret.length > 0) {
            	courseList = ret;
            	var option = $("#courseId");
            	for ( var i in ret) {
                	var o = "<option value="+ret[i].courseId+">"+ret[i].courseName+"</option>";
                	option.append(o);
        		} 
            }
        });
    }
	//选择课程，列出该课程下的授课班级
    function updateCourseSelect(courseId){
    	courseID = courseId;
    	var classes = $("#classList");
		for ( var i in courseList) {
			if(courseList[i].courseId == courseId){
				var cls = courseList[i].classes;
				for ( var c in cls) {
					var span = "<div>"+
									"<div class='targetClass onetab' name='classes' id="+ cls[c].classId +">"+
										"<span>"+cls[c].className+"</span>"+
										"<a class='delet-img' onclick='delScore(this)' href='#' title='删除'></a>"+
									"</div>"+
								"</div>";
					classes.append(span);
				}
			}
		}
	}
    //删除所选的课程
    function delScore(btn) {
    	btn.parentNode.remove(btn.parentNode);
        event.stopPropagation();
    };
</script>
</head>
<body>
	<div class="maincont">
        <div class="title"><span>创建作业</span></div>
        <div class="enter-message">
            <form id="workForm" >
            	<div class="message-group">
                    <div class="message-left">作业标题：</div>
                    <div class="message-right">
                        <input id="workTitle" maxlength="30" placeholder="作业标题（不超过30字）" type="text" class="mess-control" style="width:90%;" /> 
                    </div>                   	
                </div> 
                <div class="message-group">
                    <div class="message-left">作业内容：</div>
                    <div class="message-right" id="filesDiv">
                    	<textarea id="workContent" name="content" maxlength="200" placeholder="作业内容（不超过200字）" style="margin-bottom:10px;"></textarea>
                    	<div class="message-wrap fileDiv" id="fileList">
	                        <input name="file" type="file" class="mess-control" style="width:65%;float:left;" />
	                        <div id="toolbar" class="btn-group" style="float:left;margin-left:5px">
							    <button type="button" class="btn btn-default" style="height:34px;" title="新增" onclick="addFile(this);">
							        <i class="glyphicon glyphicon-plus"></i>
							    </button>
							    <button type="button" class="btn btn-default" style="height:34px;" title="删除" onclick="delFile(this);">
							        <i class="glyphicon glyphicon-remove"></i>
							    </button>
							</div>
						</div>
                    </div>                   	
                </div>
                <div class="message-group">
                    <div class="message-left">选择课程：</div>
                    <div class="message-right" id="classList">                	
                        <select id="courseId" name="courseId" onchange="updateCourseSelect(this.value)">
                            <option value="">--请选择课程--</option>
                        </select>
                        <div id="classList"></div>
                        <!-- <div>
                        	<div class="targetClass onetab" name="classes">
			            		<span></span>
			            		<a class="delet-img" onclick="delScore(this)" href="#" title="删除"></a>
			       	 		</div>
                        </div> -->
                    </div>
                </div>
               
                <div class="message-group">
                    <div class="message-left">开始时间：</div>
                    <div class="message-right">                	
                        <input id="publishTime" name="publishTime" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" type="text" class="mess-control" placeholder="作业开始时间" style="width:60%;" />
                    </div>                   	
                </div>
                <div class="message-group">
                    <div class="message-left">结束时间：</div>
                    <div class="message-right">                	
                        <input id="endTime" name="endTime" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" type="text" class="mess-control" placeholder="作业结束时间" style="width:60%;" />
                    </div>                   	
                </div>
                <div class="btnsub">
                    <input type="button" class="btn-submit" value="保存" onclick="createWork();">
                    <button type="button" class="btn-submit" onclick="history.back();">返回</button>
                </div>
            </form> 
        </div>
    </div>
	<div class="footer">
	    <div class="container">
	       <p>版权所有：河北图灵</p>
	    </div>
	</div>
</body>
</html>