<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>教学系统教师pc端</title>
<link href="../../css/base.css" rel="stylesheet" type="text/css">
<link href="../../js/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../../js/bootstrap-table/bootstrap-table.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>

<script type="text/javascript" src="../../js/utils/md5.js"></script>
<script type="text/javascript" src="../../js/utils/PrefsUtils.js"></script>
<script type="text/javascript" src="../../js/utils/ajax.js"></script>

<script type="text/javascript">
	var currentTermId = null;
	var currentCourseId = null;//当前正在进行的课程ＩＤ
	var cId = null;//定义变量，存储用户课程列表中的第一项课程ID
	$(function(){
		getCurrentTerm();//获取学期列表
		getCouseList();//获取课程的下拉列表
		getCurrentCourse();//获取目前正在进行的课程
		
		
	});
	function updateCourseSelect(termId){
		getCouseList(termId);
	}
	function viewScore(){
		if($PrefsUtils.receive('courseId') == null){
			return;
		}
		window.location.href = '../score/listScore.html';
	}
	function viewStatistics(){
		
		if($PrefsUtils.receive('courseId') == null){
			return;
		}
		window.location.href = '../statistics/courseStatistics.html';
	}
	
	//获取学期列表
	function getCurrentTerm(){
		var currentTerm = JSON.parse($PrefsUtils.getPref('currentTerm'));
		var tn = currentTerm.termName;
		currentTermId = currentTerm.tpId;

		var termList = JSON.parse($PrefsUtils.getPref("termList"));
        var option = $("#termSelect");
        for ( var i in termList) {
        	if(termList[i].tpId == currentTermId){
        		var o = "<option value="+termList[i].tpId+" selected='selected'>"+termList[i].termName+"</option>";
        	}else{
        		var o = "<option value="+termList[i].tpId+">"+termList[i].termName+"</option>";	
        	}
        	option.append(o);
		}
	}
	//更换课程
	function changeCourse(courseId){
		$PrefsUtils.transfer('courseId' , courseId);
		if(courseId != currentCourseId){
			getSignInData(courseId , 1);
		}else{
			getSignInData(currentCourseId , 0);
		}
	}
    //获取课程列表
    function getCouseList(termId) {
    	$("#courseSelect").empty();
        var params = {};
        if(null == termId ){
        	params.termId = currentTermId;	
        }else{
        	params.termId = termId;
        }
        $httpUtils.post('teacher/course/getCourseByTerm', params, function(ret) {
            if (ret && ret.length > 0) {
            	cId = ret[0].courseId;
            	var option = $("#courseSelect");
            	for ( var i in ret) {
                	var o = "<option value="+ret[i].courseId+">"+ret[i].courseName+"</option>";
                	option.append(o);
        		} 
            }
        });
    }
    //获取当前正在进行的课程
    function getCurrentCourse(){
		var params = {};
		params.termId = currentTermId ;
		$httpUtils.post('course/currentCourse', params, function(ret) {
			if (null != ret && ret.length>0) {
				currentCourseId　=　ret[0].courseId;
				//将当前正在进行的课程置为“选中”状态
				var option = $("#courseSelect");
				var o = "<option selected value="+ret[0].courseId+">"+ret[0].courseName+"</option>";
				option.append(o);
				getSignInData(currentCourseId , 0);
			}
			getSignInData(cId,1);
		});
    }
  //获取成绩类型为“均值”的成绩项
	function getScourType(courseId){
		var par = {};
		par.courseId = courseId;
		$httpUtils.post('score/getScoreType',par,function(data){
			if (null != data && data.length>0) {
				alert(JSON.stringify(data));
			}
		});
	}
    //获取学生签到数据
	function getSignInData(courseId,status){
		var par = {};
		par.courseId = courseId;
		par.status = status;
		$httpUtils.post('course/registDetail' , par , function(data){
			if (null != data && data.length>0) {
				list = data;
				if(status == 0){
					var r = parseInt(data[0].studentNum) - parseInt(data.length);
					var c = "本堂课程：已签到:" + data.length + "人，   未签到:" + r + "人";
					$('#tableTitle').text(c);
					initTable(data);
					
				}
			}else{
				var c = "本堂课程：已签到: 0人"
				$('#tableTitle').text(c);
				initTable(data);
			}
		});
	}
  	function initTable(data){
  		if(null == data){
  			data = {};	
  		}
  		studentTable = $('#studentTable').bootstrapTable({
		    data : data,
		    striped : true,
		    toolbar : '#toolbar',
		    search : true,
		    showRefresh : true,
		    columns: [{
		        field: 'studentNo',
		        align: 'center',
		        title: '学号'
		    }, {
		        field: 'studentName',
		        align: 'center',
		        title: '姓名'
		    }, {
		    	field: 'courseNum',
		        align: 'center',
		        title: '上课次数'
		    }, {
		    	field: 'signInNum',
		        align: 'center',
		        title: '签到次数'
		    }, {
		        align: 'center',
		        title: '出勤率',
		        formatter : function (value, row, index){
		        	return (row.signInNum)/(row.courseNum);
		        }
		    },  {
		        title: '操作',
		        align: 'center',
		        formatter : function (value, row, index){
		        	return '<i style="cursor: pointer;" title="课堂提问打分" class="glyphicon glyphicon-check"></i>';
		        },
		        events : {
		        	'click .glyphicon-check': function (e, value, row, index) {
		        		$.post('isCourseTime',{courseId:courseId},function(data){
		        			if(data.startTime){
		        				$('#courseScorekModal').modal('show');
			          	 		$('#stuId').val(row.stuId);
		        			}
		        			else{
		        				alert('该功能只能在上课时间使用');
		        			}
		        		},'json')
			            
			        }
		        }
		    } ]
		});
  	}
</script>
</head>
<body>
	<div class="maincont">
        <div class="title"><span id="tableTitle"></span></div>
        <div class="enter-message">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
            	<tbody>
                	<tr>
                    	<td width="12%" align="left" valign="middle"><label for="xueqi" style="line-height:36px; margin-bottom:0;">学期名称：</label></td>
                        <td width="30%">
                        	<select id="termSelect" class="select-control" onchange="updateCourseSelect(this.value)">                            
                                <!-- <#list termList as term> 
									<option value="${term.termId}" <#if term.termId == termId?default("")>selected="selected"</#if>>${term.termName}</option>
								</#list> -->   
                            </select>                                
                        </td>
                        <td width="12%" align="left" valign="middle"><label for="kecheng" style="line-height:36px; margin-bottom:0;">课程名称：</label></td>
                        <td width="36%">
                        	<select id="courseSelect" class="select-control" onchange="changeCourse(this.value)">
                        		<!-- <#list courseList as course> 
									<option value="${course.courseId}" <#if course.courseId == courseId?default("")>selected="selected"</#if>>${course.courseName}</option>
								</#list> -->
                        	</select>                                
                        </td>
                        <td width="10%">
                        	<button type="button" class="btn btn-default btn-sm" onclick="studentTable.bootstrapTable('refresh');">
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span> 搜索
							</button>
						</td>
                    </tr>                        
                </tbody>
            </table>
            <div id="toolbar">
			    <button type="button" class="btn btn-default btn-sm" title="成绩" onclick="viewScore();">
			        <i class="glyphicon glyphicon-book"></i> 成绩
			    </button>
			    <button type="button" class="btn btn-default btn-sm" title="成绩" onclick="viewStatistics();">
			        <i class="glyphicon glyphicon-th-large"></i> 统计
			    </button>
			</div>                          
            <table id="studentTable"></table>
        </div>
    </div>
	<div class="footer">
        <div class="container">
            <p>版权所有：河北图灵</p>
        </div>
    </div>
	<!-- <#include "courseScoreModal.ftl" /> -->
</body>
</html>