<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>教学系统教师pc端</title>
<link href="../../css/base.css" rel="stylesheet" type="text/css">
<link href="../../js/bootstrap/css/bootstrap.css" rel="stylesheet"
	type="text/css">
<link href="../../js/bootstrap-table/bootstrap-table.css"
	rel="stylesheet" type="text/css">
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript"
	src="../../js/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="../../js/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript"
	src="../../js/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>

<script type="text/javascript" src="../../js/utils/md5.js"></script>
<script type="text/javascript" src="../../js/utils/PrefsUtils.js"></script>
<script type="text/javascript" src="../../js/utils/ajax.js"></script>

<script type="text/javascript">
	var currentTermId = null;
	var currentCourseId = null;//当前正在进行的课程ＩＤ
	var cId = null;//定义变量，存储用户课程列表中的第一项课程ID
	var flag = 0;
	$(function(){
		getCurrentTerm();//获取学期列表
	});
	function updateCourseSelect(termId){
		getCouseList(termId);
	}
	function viewScore(){
		if($PrefsUtils.receive('courseId') == null){
			$PrefsUtils.transfer('courseId' , currentCourseId);
		}
		window.location.href = '../score/listScore.html';
	}
	function viewStatistics(){
		window.location.href = '../statistics/courseStatistics.html';
	}
	//获取成绩类型为“均值”的成绩项
	function getScourType(){
		var par = {};
		par.courseId = $PrefsUtils.receive('courseId');
		$httpUtils.post('score/getScoreType',par,function(data){
			if (null != data && data.length>0) {
				var st = $('#scoreType');
				for ( var i in data) {
					var html = "<input type='radio' name='radiobutton' id="+data[i].scoreId+">"+data[i].scoreName+";"
					st.append(html);
				}
				var fc = data[0].scoreId;
				$("#"+fc).attr("checked", "checked");
			}
		});
	}
	//获取学期列表
	function getCurrentTerm(){
		var currentTerm = JSON.parse($PrefsUtils.getPref('currentTerm'));
		var tn = currentTerm.termName;
		currentTermId = currentTerm.tpId;

		var termList = JSON.parse($PrefsUtils.getPref("termList"));
        var option = $("#termSelect");
        for ( var i in termList) {
        	if(termList[i].tpId == currentTermId){
        		var o = "<option value="+termList[i].tpId+" selected='selected'>"+termList[i].termName+"</option>";
        	}else{
        		var o = "<option value="+termList[i].tpId+">"+termList[i].termName+"</option>";	
        	}
        	option.append(o);
		}
        getCurrentCourse();//获取目前正在进行的课程
	}
	//更换课程
	function changeCourse(courseId){
		$PrefsUtils.transfer('courseId' , courseId);
		if(courseId != currentCourseId){
			getSignInData(courseId , 1);
		}else{
			getSignInData(currentCourseId , 0);
		}
	}
    //获取课程列表
    function getCouseList(termId) {
    	$("#courseSelect").empty();
        var params = {};
        if(null == termId ){
        	params.termId = currentTermId;	
        }else{
        	params.termId = termId;
        }
        $httpUtils.post('teacher/course/getCourseByTerm', params, function(ret) {
        	//alert(JSON.stringify(ret));
            if (ret && ret.length > 0) {
            	if(null == currentCourseId){
	            	cId = ret[0].courseId;
	            	$PrefsUtils.transfer('courseId' , cId);
	            	getSignInData(cId , 1);
            	}
            	var option = $("#courseSelect");
            	for ( var i in ret) {
					if(ret[i].courseId == currentCourseId){
						var o = "<option value="+ret[i].courseId+" selected='selected'>"+ret[i].courseName+"</option>";
					}else{
	                	var o = "<option value="+ret[i].courseId+">"+ret[i].courseName+"</option>";
					}
	                option.append(o);
        		} 
            }
        });
    }
    //获取当前正在进行的课程
    function getCurrentCourse(){
		var params = {};
		params.termId = currentTermId;
		$httpUtils.post('course/currentCourse', params, function(ret) {
			if (null != ret && ret.length>0) {
				currentCourseId　=　ret[0].courseId;
				$PrefsUtils.transfer('courseId' , currentCourseId);
				getSignInData(currentCourseId , 0);
			}
			getCouseList();//获取课程的下拉列表
		});
    }
    //获取学生签到数据
	function getSignInData(courseId,status){
		var par = {};
		par.courseId = courseId;
		par.status = status;
		$httpUtils.post('course/registDetail' , par , function(data){
			if(status == 0){
				if(data){
					var r = parseInt(data[0].studentNum) - parseInt(data.length);
					var c = "本堂课程：已签到:" + data.length + "人，   未签到:" + r + "人";	
				}else{
					var c = "当前无人签到";
					data = new Array();
				}
				$('#tableTitle').text(c);
				if(flag == 0){
					initTable(data);
					flag = 1;
				}else{
					$('#studentTable').bootstrapTable('load' , data);
				}
			}else{
				var c = "本堂课程：已签到: 0人"
				$('#tableTitle').text(c);
				$('#studentTable').bootstrapTable('load' , data);
			}
			getScourType();//获取成绩类型为“均值”的成绩项
		});
	}
  	function initTable(data){
  		if(null == data){
  			data = {};
  		}
  		studentTable = $('#studentTable').bootstrapTable({
		    data : data,
		    striped : true,
		    toolbar : '#toolbar',
		    search : true,
		    showRefresh : true,
		    columns: [{
		        field: 'studentNo',
		        align: 'center',
		        title: '学号'
		    }, {
		        field: 'studentName',
		        align: 'center',
		        title: '姓名'
		    }, {
		        field: 'signInStatus',
		        align: 'center',
		        title: '状态'
		    }, {
		    	field: 'courseNum',
		        align: 'center',
		        title: '上课次数'
		    }, {
		    	field: 'signInNum',
		        align: 'center',
		        title: '签到次数'
		    }, {
		        align: 'center',
		        title: '出勤率(%)',
		        formatter : function (value, row, index){
		        	return ((row.signInNum)/(row.courseNum))*100;
		        }
		    },  {
		        title: '操作',
		        align: 'center',
		        formatter : function (value, row, index){
		        	return '<i style="cursor: pointer;" title="课堂提问打分" class="glyphicon glyphicon-check"></i>';
		        },
		        events : {
		        	'click .glyphicon-check': function (e, value, row, index) {
						alert("studentId:"+row.studentId);
		        		$('#stuId').val(row.studentId);
		        		$('#courseScorekModal').modal('show');
			        }
		        }
		    }]
		});
  	}
  	//单人单次成绩录入
	function addScore() {
  		var score = $('#scoreNumber').val();
		if(score < 1){
			alert("请输入该生得分");
		}else if(isNaN(score)){
			alert("得分需为数字类型");
		}else if(score < 0 || score > 100){
			alert("无效的输入");
		}else{
			//调用接口，为该同学增加一次分数
 			var _o = document.getElementsByName("radiobutton");
		    for(i=0;i<_o.length;i++)
		    {
		        if(_o[i].checked){
		        	var scoreId = _o[i].id; 
		        }
		    }
			var par = {};
			par.score = score;
			par.studentId = $('#stuId').val();
			par.courseId = $PrefsUtils.receive('courseId');
			par.scoreId = scoreId;
			$httpUtils.post('score/addAverageScore', par, function(data) {
				$('#courseScorekModal').modal('hide');
				alert("成绩录入成功");
			});
		}
	}
</script>
</head>
<body>
	<div class="maincont">
		<div class="title">
			<span id="tableTitle"></span>
		</div>
		<div class="enter-message">
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td width="12%" align="left" valign="middle"><label
							for="xueqi" style="line-height: 36px; margin-bottom: 0;">学期名称：</label></td>
						<td width="30%"><select id="termSelect"
							class="select-control" onchange="updateCourseSelect(this.value)">
								<!-- <#list termList as term> 
									<option value="${term.termId}" <#if term.termId == termId?default("")>selected="selected"</#if>>${term.termName}</option>
								</#list> -->
						</select></td>
						<td width="12%" align="left" valign="middle"><label
							for="kecheng" style="line-height: 36px; margin-bottom: 0;">课程名称：</label></td>
						<td width="36%"><select id="courseSelect"
							class="select-control" onchange="changeCourse(this.value)">
								<!-- <#list courseList as course> 
									<option value="${course.courseId}" <#if course.courseId == courseId?default("")>selected="selected"</#if>>${course.courseName}</option>
								</#list> -->
						</select></td>
						<td width="10%">
							<button type="button" class="btn btn-default btn-sm"
								onclick="studentTable.bootstrapTable('refresh');">
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
								搜索
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div id="toolbar">
				<button type="button" class="btn btn-default btn-sm" title="成绩"
					onclick="viewScore();">
					<i class="glyphicon glyphicon-book"></i> 成绩
				</button>
				<button type="button" class="btn btn-default btn-sm" title="成绩"
					onclick="viewStatistics();">
					<i class="glyphicon glyphicon-th-large"></i> 统计
				</button>
			</div>
			<table id="studentTable"></table>
		</div>
	</div>
	<!-- 打分弹窗 -->
	<div id="courseScorekModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">课堂提问</h4>
				</div>
				<form id="courseScoreForm">
					<input type="hidden" id="courseId" name="courseId" /> <input
						type="hidden" id="stuId" name="stuId" />
					<div class="modal-body" id="scoreType">
						<div class="message-group">
							<div class="message-left">分数：</div>
							<div class="message-right">
								<input id="scoreNumber" name="scoreNumber" type="number" class="mess-control" value="" />
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<!-- <button type="submit" class="btn btn-default">保 存</button> -->
						<input type="button" onclick="addScore();" value="保存"
							class="btn btn-default">
					</div>
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

	<div class="footer">
		<div class="container">
			<p>版权所有：河北图灵</p>
		</div>
	</div>
	<!-- <#include "courseScoreModal.ftl" /> -->
</body>
</html>