<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>教学系统教师pc端</title>
<link href="../../css/base.css" rel="stylesheet" type="text/css">
<link href="../../js/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/echarts.common.min.js"></script>

<script type="text/javascript" src="../../js/utils/md5.js"></script>
<script type="text/javascript" src="../../js/utils/PrefsUtils.js"></script>
<script type="text/javascript" src="../../js/utils/ajax.js"></script>

<script type="text/javascript">
	var courseId = null;
	$(function(){
		courseId = $PrefsUtils.receive('courseId');
		getCurrentSignInData();//获取当堂课的出勤情况
		getTotalAttendence();//获取课程的整体出勤情况
		
		$('a[href="#scoreDiv"]').on('show.bs.tab', function (e) {
			var scoreType = $(e.target).data('type');
			var title = $(e.target).text();
			$.post('getScoreStatisticsData',{courseId:'${courseId?default("")}',scoreType:scoreType},function(data){
				scoreChart.setOption({title : {text: title},series: [{data:data}]});
			},'json');
		});
		$('a[href="#courseDiv"]').on('show.bs.tab', function (e) {
			if($(e.target).data('type') == 'record'){
				courseChart.setOption({
					title : {text: '本堂课出勤情况'},
					series : [
						        {
						            data:[
						            	{value:5, name:'未签到'},
						                {value:44, name:'签到'}
						            ]
						        }
						    ]
				});
			}
			else{
				courseChart.setOption({
					title : {text: '整体的出勤情况	'},
					series : [
						        {
						            data:[
						            	{value:4, name:'未签到'},
						                {value:60, name:'签到'}
						            ]
						        }
						    ]
				});
			}
		});
	});
	//获取正在进行的课程的出勤数据
	function getCurrentSignInData(){
		var par = {};
		par.courseId = courseId;
		$httpUtils.post('course/currentAttendence',par,function(data){
			//alert(JSON.stringify(data));
		});
	}
	//获取某课程的整体出勤情况
	function getTotalAttendence(){
		var par = {};
		par.courseId = courseId;
		$httpUtils.post('course/totalAttendence',par,function(data){
			//alert(JSON.stringify(data));
		});
	}
</script>
</head>
<body>
	<div class="maincont">
        <div class="title"><span id="title">统计</span></div>
        <div class="enter-message">
        	<ul class="nav nav-tabs">
        	  <li class="dropdown  active">
			    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
			      	出勤统计 <span class="caret"></span>
			    </a>
			    <ul class="dropdown-menu">
			      	<li><a data-type="record" href="#courseDiv" data-toggle="tab">本堂课出勤情况</a></li>
			  		<li><a data-type="all" href="#courseDiv" data-toggle="tab">整体的出勤情况</a></li>
			    </ul>
			  </li>
			  <li class="dropdown">
			    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
			      	成绩统计 <span class="caret"></span>
			    </a>
			    <ul class="dropdown-menu">
			    <!-- <#list CourseScoreList as courseScore> 
			      	<li><a href="#scoreDiv" data-type="${courseScore.csId}" data-toggle="tab">${courseScore.scoreName}</a></li>
			  	</#list> -->
			    </ul>
			  </li>
			  <button type="button" style="float:right" class="btn btn-default btn-sm" title="返回" onclick="history.back();">
		        <i class="glyphicon glyphicon-share-alt"></i> 返回
		      </button>
			</ul>
			<br />
			<div class="tab-content">
			    <div class="tab-pane" id="scoreDiv">
					<div id="scoreChart" style="width: 600px;height:400px;"></div>
				    <script type="text/javascript">
				        // 基于准备好的dom，初始化echarts实例
				        var scoreChart = echarts.init(document.getElementById('scoreChart'));
				        // 指定图表的配置项和数据
				        var option = {
				            title: {
				                x:'center'
				            },
				            tooltip : {
						        formatter: "{a} <br/>{b} : {c}人"
						    },
				            xAxis: {
				                data: ["0-60分","60-70分","70-80分","80-90分","90-100分"]
				            },
				            yAxis: {},
				            series: [{
				                name: '人数',
				                type: 'bar',
				                data: [5, 20, 36, 10, 10]
				            }]
				        };
				        // 使用刚指定的配置项和数据显示图表。
				        scoreChart.setOption(option);
				    </script>
				</div>
			    <div class="tab-pane active" id="courseDiv">
			    	<div id="courseChart" style="width: 600px;height:350px;"></div>
			    	<script type="text/javascript">
			    		var courseChart = echarts.init(document.getElementById('courseChart'));
						var option = {
						    title : {
						        text: '本堂课出勤情况',
						        x:'center'
						    },
						    tooltip : {
						        trigger: 'item',
						        formatter: "{a} <br/>{b} : {c} ({d}%)"
						    },
						    legend: {
						        orient: 'vertical',
						        x: 'left',
						        data: ['未签到','签到']
						    },
						    series : [
						        {
						            name: '人数',
						            type: 'pie',
						            data:[
						            	{value:5, name:'未签到'},
						                {value:22, name:'签到'},
						            ]
						        }
						    ]
						};
						courseChart.setOption(option);
					</script>
			    </div>
			</div>
        </div>
    </div>
	<div class="footer">
	    <div class="container">
	       <p>版权所有：河北图灵</p>
	    </div>
	</div>
</body>
</html>